.images-container {
    /* max-width: 1200px; */
    position: relative;
    margin: auto;
}

/*#topImg {
    width: 100%;

}*/

.context {
    padding: 0;
}

.about-container {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    margin: auto;
}

.img-1 {
    /* max-width: 1200px; */
    background-image: url("../IMG/about-laundry.png");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

.padder {
    padding: 150px 0px 0px 0px;
}

.aboutus-text {
    color: white;
    background-color: black;
    padding: 5px 18px 5px 18px;
    font-size: 25px;
    letter-spacing: 10px;
    /*font-family: "Calibri";*/
}

.about-us-container {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 40px;
}

.about-row {
    width: 100%;
    border: none;
    border-radius: 1px;
    box-sizing: border-box;
    display: inline-block;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 40px;
}

.col-big, .col-small, .col-divider {
    float: left;
    display: inline-block;
/*    height: 370px;*/
}

.col-small {
    width: 30%;
    text-align: center;
}

.col-divider {
    width: 5%;
    text-align: center;
}

.col-big {
    width: 65%;
}

#col-big-left {
    text-align: left;
}

#col-big-right {
    text-align: right;
}

#col-small-right, #col-divider-right {
    float: right;
}

#id-text-about, #p-text-about {
    padding: 10px;
}

#divider-vertical {
    display: block;
}

#divider-horizontal {
    display: none;
}


@media screen and (max-width: 500px) {
    .col-big, .col-small, .col-divider {
        float: none;
        display: block;
        height: auto;
        width: 100%;
        text-align: left;
    }

    #divider-vertical {
        display: none;
    }

    #divider-horizontal {
        display: block;
        width: 100%;
    }

    #col-small-right, #col-divider-right, #col-big-right {
        float: none;
        text-align: left;
        width: 100%;
    }
}