.images-container {
    /* max-width: 1200px; */
    position: relative;
    margin: auto;
    width: 100%;
}

.img-slides{
    align-items: center;
}

/*Image size*/
#galleryImg {
    width: 100%;
}

/*Image and text*/
.image-group {
    width: 50%;
    color: white;
    float: left;
}

#textDivider {
    padding: 30px 5px 30px 5px;
}

/*Description Title*/
.img-Title {
    font-weight: bold;
    font-size: 18px;
}


.background-gallery {
    /* max-width: 1200px; */
    background-image: url("../IMG/background-gallery.jpg");
    min-height: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

/*Darker background*/
.context {
    padding: 0;
    background: rgb(0, 0, 0);
 	background: rgba(0, 0, 0, 0.8);
}

/*Image change size*/
@media screen and (max-width: 500px) {
    .image-group {
        width: 100%;
        height: auto;
    }
}