.top-navigation {
    background-color: antiquewhite;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1;
}

.top-navigation a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px 15px 30px;
    color: black;
}

.top-navigation a:hover {
    /* background-color: lightgray; */
    color: lightcoral;
}

.top-navigation .icon {
    display: none;
}

@media screen and (max-width:500px) {
    .top-navigation a:not(:first-child) {
        display: none;
    }
    .top-navigation a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width:500px) {
    .top-navigation.responsive {
        position: relative;
    }
    .top-navigation.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .top-navigation.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .top-navigation.responsive .logo{
        float: none;
        display: block;
    }
    .top-navigation.responsive .nav {
        text-align: right;
    }
    /* .top-navigation.responsive #icon-web-a {
        display: none;
    } */
}


/* header container*/
header {
    /* position: fixed; */
    width: 100%;
    z-index: 1;
    top: 0;
}

/* Logo */
.logo {
    float: left;
    display: inline;
    height: 50px;
}

#icon-web {
    height: 50px;
}

#icon-web-a {
    padding: 0px;
}

.logo {
    padding: 0px 10px 0px 30px;
}

.header {
    background-color: aliceblue;
    text-align: center;
}
#header-laundry {
    height: 100px;
}

@media screen and (max-width: 500px) {
    #header-laundry {
        width: auto;
    }
}