/* margining the div promo container */
.promo-container {
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

/* container for list of promo */
.promo-list {
    display: block;
}

/* container for the items (promo) inside the container */
.item-container {
    margin-bottom: 20px;
    background-color: white;
}

/* inner padding for the item container */
.item-inner {
    padding: 25px;
    border: 1px solid black;
    border-radius: 2px;
    box-sizing: border-box;
    resize: vertical;
}

/* row container for promo items */
.item-row {
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
    overflow: hidden;
}

/* styling the column divider */
.col-left-img, .col-hidden, .col-right-desc {
    display: inline-block;
    height: 350px;
    min-height: 1px;
    position: relative;
}

/* column for left side of the row (image) */
.col-left-img {
    width: 40%;
    float: left;
}

/* divider between the image and description*/
.col-hidden {
    width: 10%;
    float: left;

}

/* column for right side of the row (description) */
.col-right-desc {
    width: 50%;
    float: left;
    text-align: left;
}

/* styling the promo text inside col-right-desc container */
#promo-text {
    padding-left: 10px;
    padding-right: 10px;
}

/* styling for image inside col-left-img container */
#promo-image {
    width: 100%;
    max-width: 345px;
}

#promo-container {
    display: none;
    padding: 10px;
    font-size: 20px;
}

#promo-code-text {
    color: white;
    background: lightgray;
}

.item-container:hover #promo-container{
    display: block;
}

.item-container:hover .item-inner {
    border: 3px dashed red;
}

.item-container:hover {
    background-color:rgb(248, 248, 248);
}
.item-container:hover .item-inner {
    cursor: pointer;
}

.item-container:hover .col-right-desc {
    height: auto;
}

/* media responsive tab */
@media screen and (max-width: 500px) {
    .col-left-img, .col-right-desc {
        display: block;
        float: none;
        height: auto;
        width: 100%;
    }
    .col-hidden {
        display: none;
    }
    .item-row {
        margin: auto;
    }
    .promo-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.image-parallax {
    /* max-width: 1200px; */
    background-image: url("../IMG/about-laundry.png");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

.text-container {
    padding: 150px 0px 0px 0px;
}

.text-form {
    color: white;
    background-color: black;
    padding: 5px 18px 5px 18px;
    font-size: 25px;
    letter-spacing: 10px;
    /*font-family: "Calibri";*/
}