/* Body Styling */
body {
    margin: 0;
    border: 0;
}
/* Background for top navigation bar */
.top-navigation {
    background-color: cornsilk;
    overflow: hidden;
}

.sign a{
    text-align: right;
    float: right;
    display: inline-block;
}

/* Dropdown divider style  */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown container */
.dropdown .dropdownBtn {
    border: none;
    outline: none;
    margin: 0;
    font-size: 23px;
    padding: 15px 30px 15px 30px;
    font-family: inherit;
    color: white;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: cornflowerblue;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 130px;
}

/* Dropdown content inside style */
.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    text-align: left;
    padding: 15px 15px;
    display: block;
}

/* Hover dropdown button */
.dropdown:hover .dropdownBtn {
    background-color: #555;
    color: white;
}

/* Dropdown links hover */
.dropdown-content a:hover {
    background-color: lightgray;
    color: white;
}

/* Showing content when hover */
.dropdown:hover .dropdown-content{
    display: block;
}

/* Logo */
.logo {
    float: left;
    display: inline;
    padding: 20px 20px 20px 20px;
    width: auto;
    height: auto;
}

/* PC */
@media screen and (max-width: 500px) {
    .top-navigation a:not(:first-child), .dropdown .dropdownBtn {
      display: none;
    }
    .top-navigation a.icon {
      float: right;
      display: block;
    }
  }

/*Mobile */
@media screen and (max-width: 500px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}  

/* Header style */
/* header {
    background-color: black;
    background-image: url("x.png");
    height: 50px;
    width: 97%;
    position: fixed;
    z-index: 10;
} */

/* header container */
header {
    position: fixed;
    width: 100%;
    top: 0;
}

/* style untuk div class header, isi logo */
.header {
    background-image: url("x.png");
    background-color: black;
    height: 50px;
    z-index: 10;
}

/* Style for content container */
.context {
    margin-top: 125px;
}

/* isi content style */
.context p{
    padding: 0;
    margin: 0;
    border: none;
}